.card {
    background-color: var(--white-solid);
    box-shadow: var(--black-pastelle) 10px 10px;
    border-color: var(--black-pastelle);
    border-width: 2px;
    border-style: solid;
    padding: 1.5rem;
    margin: 2rem;
    text-align: left;
}

.card--text {
    color: var(--black-pastelle);
    margin: 0;
}
