.references {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    width: 50vw;
}

.shill {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    color: var(--black-pastelle);
    margin: 4rem;
}

.reference {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem;
    margin: 5;
    color: var(--black-pastelle);
}
