.references {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reference {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem;
    margin: 5;
    color: var(--black-pastelle);
    width: 40vw;
}
