.page {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infocards {
    display: flex;
    flex-direction: row;
}

.infocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.infocard--bubble {
    display: flex;
    background-color: var(--purple-pastelle);
    color: var(--black-pastelle);
    width: fit-content;
    height: 32px;
    padding: 0 1rem;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    border-radius: px;
    margin: 1rem 0 0 2rem;
    border-color: var(--black-pastelle);
    border-width: 1px;
    border-style: solid;
}

.left {
    display: flex;
    flex: 1/2;
    flex-direction: column;
    background-color: var(--white-pastelle);
}

.right {
    display: flex;
    flex: 1/2;
    flex-direction: column;
    background-color: var(--white-solid);
    border-top-style: dashed;
    border-top-color: var(--black-pastelle);
    border-top-width: 2px;
}
