.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: var(--green-pastelle);
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
