.page {
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: var(--green-pastelle);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 65vh;
    grid-template-areas: 
        "head0 head1"
        "main0 main1"
    ;
}
