.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: var(--black-pastelle);
    color: var(--white-pastelle);
    padding: 0 1rem;
}

.header--h1 {
}

.header--buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header--buttons > button {
    background-color: var(--black-pastelle);
    border: none;
}

.header--buttons > button:hover {
    cursor: pointer;
}
