.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: var(--black-pastelle);
    color: var(--white-pastelle);
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

.headerH1 {

}

.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.headerButtons > button {
    background-color: var(--black-pastelle);
    border: none;
}

.headerButtons > button:hover {
    cursor: pointer;
}
