:root {
    --main-font: 'Ubuntu';
    --black-pastelle: #1d1d1d;
    --white-pastelle: #f4f4f4;
    --purple-pastelle: #dcd5fe;
    --orange-pastelle: #fddeb2;
    --green-pastelle: #e4f8dd;
    --red-pastelle: #f9cdcc;
    --white-solid: #ffffff;
}
